NODE_ENV=development
PORT=3000
DB_LOCAL=mongodb://localhost:27017/natours
DB_GLOBAL=
DB_PASS=
DNS_SERVERS=8.8.8.8,1.1.1.1
JWT_SECRET=
JWT_EXPIERS_IN=90d
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=587
EMAIL_USERNAME=
EMAIL_PASSWORD=