NODE_ENV=development
PORT=3000
DB_LOCAL=mongodb://localhost:27017/natours
DB_GLOBAL=
DB_PASS=
DNS_SERVERS=8.8.8.8,1.1.1.1
JWT_SECRET=
JWT_EXPIERS_IN=90d
JWT_COOKIES_EXPIERS_IN=90
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_PROD_HOST=
EMAIL_PROD_PORT=
EMAIL_PROD_USERNAME=
EMAIL_PROD_PASSWORD=
MAPBOX_ACCESS_TOKEN=
WebEmail=
STRIPE_SECRET_KEY=
WEBHOOK_SECRET=